<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Spielsücht.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<userSettings>
		<Spielsücht.Properties.Settings>
   <setting name="Aktueller_Kontostand" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="Version" serializeAs="String">
    <value>1.0.0_b4</value>
   </setting>
   <setting name="Schwierigkeit" serializeAs="String">
    <value>Leicht</value>
   </setting>
   <setting name="Hinweis_OK" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Gewonnen" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Verloren" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Spiel_beendet" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="By_Ueber" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="time_an" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Name" serializeAs="String">
    <value/>
   </setting>
   <setting name="score_Nr" serializeAs="String">
    <value>0</value>
   </setting>
  </Spielsücht.Properties.Settings>
	</userSettings>
</configuration>
